<h1>Вторые блюда</h1>
<% if current_user == User.first %>
  <div class="row">
    <div class="col-md-12 buffer-top">
        <div class="row buffer-top">
          <table class="table table-striped">
            <tr>
              <td><b>ID</b></td>
              <td><b>Имя</b></td>
              <td><b>Управление</b></td>
              <td><b>Фото</b></td>
            </tr>
            <% @cereals.each do |cereal| %>
            <tr>
              <td><%= cereal.id %></td>
              <td><%= cereal.name %></td>
              <td><%= link_to fa_icon('pencil'), edit_cereal_path(cereal), :title => 'Редактировать' %></td>
              <td><img src="<%= cereal.photo %>" alt="<%= cereal.name %>"></td>
            </tr>
            <% end %>
          </table>
          <%= link_to 'Добавить Второе блюдо', new_cereal_path, class: 'btn btn-primary' %>
        </div>
    </div>
  </div>
<% else %>
  <p>Здесь может шариться только Admin</p>
<% end %>
