<%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :name, placeholder: 'имя' %>
  <%= f.input :email, placeholder: 'почтовый ящик' %>
  <div class="buffer-both">
  <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
