<h2>Вход</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    <div class="row">
      <div class="col-md-4 buffer-top">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Войти", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div class="buffer-both">
  <%= render "devise/shared/links" %>
</div>
